<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveLineItem</servlet-name>
        <servlet-class>servlet.RemoveLineItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrder</servlet-name>
        <servlet-class>servlet.ShowOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToOrder</servlet-name>
        <servlet-class>servlet.ToOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrder</servlet-name>
        <servlet-class>servlet.DetailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>servlet.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlet.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCart</servlet-name>
        <servlet-class>servlet.ConfirmCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>servlet.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwitchOrder</servlet-name>
        <servlet-class>servlet.SwitchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seachcata</servlet-name>
        <servlet-class>servlet.SeachCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProduct</servlet-name>
        <servlet-class>servlet.ShowProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <servlet-class>servlet.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSellServlet</servlet-name>
        <servlet-class>servlet.ShowSellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccount</servlet-name>
        <servlet-class>servlet.ShowAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPmServlet</servlet-name>
        <servlet-class>servlet.SendPmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReceiverServlet</servlet-name>
        <servlet-class>servlet.GetReceiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPmServlet</servlet-name>
        <servlet-class>servlet.ShowPmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>servlet.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSentServlet</servlet-name>
        <servlet-class>servlet.ShowSentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceServlet</servlet-name>
        <servlet-class>servlet.PriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <servlet-class>servlet.DeleteMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplayServlet</servlet-name>
        <servlet-class>servlet.ReplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReplyServlet</servlet-name>
        <servlet-class>servlet.SendReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrder</servlet-name>
        <url-pattern>/DetailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seachcata</servlet-name>
        <url-pattern>/seachcata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProduct</servlet-name>
        <url-pattern>/showProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCart</servlet-name>
        <url-pattern>/ConfirmCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveLineItem</servlet-name>
        <url-pattern>/RemoveLineItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrder</servlet-name>
        <url-pattern>/ShowOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SwitchOrder</servlet-name>
        <url-pattern>/SwitchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToOrder</servlet-name>
        <url-pattern>/ToOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSellServlet</servlet-name>
        <url-pattern>/ShowSellServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccount</servlet-name>
        <url-pattern>/ShowAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPmServlet</servlet-name>
        <url-pattern>/SendPmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReceiverServlet</servlet-name>
        <url-pattern>/GetReceiverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPmServlet</servlet-name>
        <url-pattern>/ShowPmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSentServlet</servlet-name>
        <url-pattern>/ShowSentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceServlet</servlet-name>
        <url-pattern>/PriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <url-pattern>/DeleteMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplayServlet</servlet-name>
        <url-pattern>/ReplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReplyServlet</servlet-name>
        <url-pattern>/SendReplyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
