<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seachcata</servlet-name>
        <servlet-class>servlet.SeachCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProduct</servlet-name>
        <servlet-class>servlet.ShowProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <servlet-class>servlet.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSellServlet</servlet-name>
        <servlet-class>servlet.ShowSellServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seachcata</servlet-name>
        <url-pattern>/seachcata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProduct</servlet-name>
        <url-pattern>/showProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSellServlet</servlet-name>
        <url-pattern>/ShowSellServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
